[user]
  email = etiennerobert33@gmail.com
  name  = Etienne Robert
[core]
  whitespace = trailing-space tab-in-indent tabwidth=2
[color]
  branch = auto
  status = auto
  diff = auto
[alias]
  ci = commit
  co = checkout
  st = status --short --branch
  br = branch
  di = diff
  ff = merge --ff-only
  vimdiff = difftool --no-prompt --tool=vimdiff
  #lg = log --graph --oneline
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  praise = blame
  please = push --force-with-lease
  publish = push --set-upstream origin HEAD
  sco = "!f() { git checkout $(git branch | grep \"$1\" | head --lines=1); }; f"
  sco2 = "!git checkout $(git branch | fzf)"
  sbranch = "for-each-ref --sort=-committerdate refs/heads/ --format=\"%(committerdate:short) %(refname:short)\""
[pager]
  status = on
[push]
  default = upstream
  autoSetupRemote = true
[merge]
  defaulttoupstream = true
  conflictstyle = diff3
  log = true
[log]
  decorate = true
[branch]
  autosetuprebase = always
[init]
	defaultBranch = main
[pull]
  rebase = true
