[user]
  email = etiennerobert33@gmail.com
  name  = Etienne Robert
[core]
  whitespace = trailing-space tab-in-indent tabwidth=2
  editor = nvim
[alias]
  ci = commit
  sci = "!gen-commit-msg"
  co = checkout
  st = status --short --branch
  br = branch
  w = worktree
  ds = -c diff.external=difft diff --staged
  ff = merge --ff-only
  vimdiff = difftool --no-prompt --tool=vimdiff
  lg = "log --pretty=format:'%C(red)%h %C(green)on %cd %C(blue)by %an%C(yellow)%d %Creset%Creset\n%s\n' --abbrev-commit --date=format:'%Y-%m-%d %H:%M'"
  praise = blame
  please = push --force-with-lease
  publish = push --set-upstream origin HEAD
  sco = "!git checkout $(git branch | fzf | sed 's/^[ *]*//')"
  sbranch = "for-each-ref --sort=-committerdate refs/heads/ --format=\"%(committerdate:short) %(refname:short)\""
  dft = "-c diff.external=difft diff"
  dlog = "-c diff.external=difft log -p --ext-diff"
  dshow = "-c diff.external=difft show --ext-diff"
  dbranch = "!git branch | grep -v '^\\*' | xargs -n 1 git branch -d"
  puhs = push
  pshu = push
  psuh = push
  slist = -c diff.external=difft stash list -p --ext-diff
  ushow = "!git ls-files --others --exclude-standard -z | xargs -0 bat"
  empty = commit --allow-empty -m 'trigger ci'
  alias = "!git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1          \\2/;s/\\(^.\\{10\\}\\) */\\1 = /' | sort"
  falias = "!git alias | fzf | cut -d' ' -f1 | xargs -I {} git {}"
  torelease = log --oneline origin/prod..origin/main
  release = push origin origin/main:prod
  fw = "!git worktree list | fzf | cut -f 1 -d ' '"
  fwr = "!worktree=$(git fw) && [ -n \"$worktree\" ] && git worktree remove \"$worktree\""
  frev = "!commit=$(git-find-commit) && [ -n \"$commit\" ] && git revert \"$commit\""
  drop = "!git rebase --onto \"$1\"^ \"$1\" #"
  fdrop = "!commit=$(git-find-commit) && [ -n \"$commit\" ] && git drop \"$commit\""
  find = "!git-find-commit"
  div-dft = "!git dft $(git merge-base origin/main HEAD)..HEAD"
[pager]
  status = on
[push]
  default = upstream
  autoSetupRemote = true
[merge]
  tool = vimdiff
  defaulttoupstream = true
  conflictstyle = diff3
  log = true
  # Don't keep backup .orig files
  keepBackup = false
[mergetool "vimdiff"]
  path = nvim
[log]
  decorate = true
[branch]
  autosetuprebase = always
[init]
	defaultBranch = main
[pull]
  rebase = true
[rerere]
  enabled = true
  autoupdate = true
[column]
  ui = auto
