# The file ".netrwhist" holds history when netrw (and vim) is not active.
vim/.vim/.netrwhist

# Contains history of undos for nvim
vim/.vim/undodir

# This file contains fish universal variable definitions.
fish/.config/fish/fish_variables

# This file contains custom attributes of the containing folder in macOS
# See https://en.wikipedia.org/wiki/.DS_Store
.DS_Store
