* {
  /* TODO: Change font */
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  /* background: linear-gradient( */
  /*   to right, */
  /*   transparent calc(50% + 1.5px), */
  /*   rgba(255, 255, 255, 0.2) calc(50% + 1.5px), */
  /*   rgba(255, 255, 255, 0.2) calc(50% + 2.5px), */
  /*   transparent calc(50% + 2.5px) */
  /* ); */

  /* Vertical line at center of the bar */
  /* background: linear-gradient( */
  /*   to right, */
  /*   transparent calc(50% - 0.5px), */
  /*   rgba(255, 255, 255, 0.2) calc(50% - 0.5px), */
  /*   rgba(255, 255, 255, 0.2) calc(50% + 0.5px), */
  /*   transparent calc(50% + 0.5px) */
  /* ); */

  background: transparent;
  color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}

#battery.warning.charging,
#battery.critical.charging {
  color: inherit;
}

#workspaces button {
  padding: 3px 6px;
  background: transparent;
  color: #cdd6f4;
}

#workspaces button.active {
  background: rgba(180, 180, 180, 0.3);
}

#clock.time {
  margin-top: 8px;
}

#workspaces {
  margin-bottom: 3px;
}

.module {
  /* Need to offset to account for the hyprland outer gap */
  margin-left: 3px;
}

#custom-weather {
  /* Offsetting weather because the number is most important */
  margin-left: 10px;
}

#workspaces {
  margin-left: 3px;
}

#pulseaudio,
#network,
#battery {
  /* Individual icon alignment fixes */
  margin-left: 0;
}
