* {
  /* TODO: Change font */
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

.module {
  /* gap: 8px; */
}

#battery.warning {
  background: orange;
}

#battery.critical {
  background: red;
}

#workspaces button {
  background: transparent;
  color: #cdd6f4;
}

#workspaces button.active {
  background: rgba(180, 180, 180, 0.3);
}

#clock {
  /* No idea why this is necessay */
  margin-left: 4px;
  margin-top: 8px;
}
